<section class="channel-group">
	<div class="channel-group__header">
		<h2 class="channel-group__title">限时免费</h2>
	</div>
	<ul class="book-table">
		<a href="javascript:">
			<li v-for="item in free">
				<div class="u-book">
					<a href="/book?id=18218">
						<div class="book-cover">
							<img v-bind:src="item.data.cover" alt="{{ item.ad_name }}">
							<div class="u-tagRT -freefiction"></div>
						</div>
						<div class="info">
							<h3 class="title">{{ item.ad_name }}</h3>
						</div>
					</a>
				</div>
			</li>
		</a>
	</ul>
	<a class="channel-group__footer" href="/free">更多限免佳作&gt;&gt;</a>
</section>